.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.container .box1 {
    background-color: blue;
    height: 200px;
    grid-column: span 2;
    border-radius: 8px;
}
.container .box2 {
    background-color: red;
    height: 200px;
    border-radius: 8px;
}